@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @-moz-keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1; }
  }
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1;
  }
}

.fadeIn {
  -webkit-animation: fadeIn 1s ease-in-out;
  -moz-animation: fadeIn 1s ease-in-out;
  -o-animation: fadeIn 1s ease-in-out;
  animation: fadeIn 1s ease-in-out;
}

#container {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#container main  {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile {
  border-radius: 50%;
  height: 175px;
  width: 175px;
  margin-bottom: 32px;
  border: 3px solid var(--primary);
  background: var(--background);
}

.description {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 18px;
}

.link_container {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);

  height: 56px;
  max-width: 350px;
  width: 100%;

  background: var(--box-background);
  transition: background 0.5s;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.link_container + .link_container {
  margin-top: 30px;
}

.logo {
  margin-right: 20px;
}

.link_container:hover {
  background: var(--primary);
}

#container footer {
  font-size: 20px;
  font-weight: 500;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
}

#container footer p {
  margin-top: 16px;
  font-size: 16px;
}

#container footer a {
  text-decoration: none;
  color: var(--primary);
  transition: color 0.3s;
}

#container footer a:hover {
  color: var(--primary-hover);
}
